/.EditarTareaWindow.java._trace
/.EditarTareaWindow.xtendbin
/.PrincipalAppModel.java._trace
/.PrincipalAppModel.xtendbin
/.RepoTareas.java._trace
/.RepoTareas.xtendbin
/.Tarea.java._trace
/.Tarea.xtendbin
/.TareaApplication.java._trace
/.TareaApplication.xtendbin
/.TareaBootstrap.java._trace
/.TareaBootstrap.xtendbin
/.TodoList1Window.java._trace
/.TodoList1Window.xtendbin
/.TodoList2Window.java._trace
/.TodoList2Window.xtendbin
/.TodoList3Window.java._trace
/.TodoList3Window.xtendbin
/.TodoList4Window.java._trace
/.TodoList4Window.xtendbin
/EditarTareaWindow.java
/PrincipalAppModel.java
/RepoTareas.java
/Tarea.java
/TareaApplication.java
/TareaBootstrap.java
/TodoList1Window.java
/TodoList2Window.java
/TodoList3Window.java
/TodoList4Window.java
